/* You can add global styles to this file, and also import other style files */

@import '~font-awesome/css/font-awesome.css';

body {
  margin: 20px;
}

form{
  margin: 30px;
}

button{
  margin-left: 15px;
}

.fa-trash-o{
  color: red;
  padding-right: 6px;
}

.table{
  border: 1px solid #e1e5e8;
}

table, th, td {
  border: 1px solid #b2adad;
  border-collapse: collapse;
}

h1{
font-family: math;
color: #868484;
}
