/* You can add global styles to this file, and also import other style files */

@import '~font-awesome/css/font-awesome.css';

body {
  margin: 20px;
}

form{
  margin: 30px;
}

button{
  margin-left: 15px;
}
