.img {
    background-image: url("../../../../assets/logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 992px) {
    .img {
        background-image: url("../../../../assets/logo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 348px;
        width: 435px;
        position: inherit;
        align-self: center;
    }
}

@media screen and (max-width: 600px) {
    .img {
       display: none;
    }
  }

@media screen and (max-width: 575px) {
    .img-logo {
        background-image: url("../../../../assets/logo.jpg");
        height: 33px;
        width: 49px;
        background-size: cover;
        position: absolute;
    }
}