<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-sm-1 col-xs-12 img">
        </div>
        <div class="col-md-4 col-sm-11 col-xs-12">
            <div class="m-0 vh-100 row justify-content-center align-items-center">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class=" col-md-1 img-logo"></div>
                            <h1 class="  col-md-10 text-center">Inicio de Sesión</h1>
                        </div>
                        <form [formGroup]="form">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label class="form-label">Usuario</label>
                                    <input type="text" class="form-control" formControlName="user">
                                </div>
                            </div>
                            <div class="row mb-3 ">
                                <div class="col-md-12">
                                    <label class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" formControlName="password">
                                </div>
                            </div>
                            <div class="row px-2">
                                <button id="login" class="col-md-12  btn btn-primary btn-lg" (click)="clickOnLogin()"
                                    [disabled]="!form.valid">Ingresar</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>