<div class="container">
    <h1>Lista de Roles</h1>
    <div class="row justify-content-md-end">
        <a class=" col-md-2 btn btn-primary" routerLink="/roles/create">Crear Rol</a>
    </div>
    <br />

    <table *ngIf="listRoles && listRoles.length > 0" class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of listRoles; index as i">
            <tr>
                <td>{{i+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>
                    <i class="fa fa-trash-o" data-bs-toggle="modal" data-bs-target="#deleteModal"
                        (click)="onClickButtonDelete(item.id,i)">
                    </i>
                    <a href="roles/edit/{{item.id}}">
                        <i class="fa fa-pencil"></i>
                    </a>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-modal [value]="position" (response)="delete()">
    <div *ngIf="position != null" class="modal-body">
        Está seguro que desea eliminar el rol : {{listRoles[position].name}} ?
    </div>
</app-modal>